mediapipe==0.8.2
netifaces==0.11.0
opencv-python==4.7.0.68
networkx==2.5.1
numpy==1.19.5
Pillow==8.4.0
PyYAML==6.0
ros_numpy==0.0.3
scikit-image==0.19.3
scipy==1.9.3
sensor-msgs==1.12.8
websocket-client==1.5.0
yolov5==7.0.7
pandas==1.5.3
facenet-pytorch==2.5.2
tqdm==4.64.1

