@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');


/* Special decorations  -------------------------------------------------------------*/

.christmas_cap
{
    position: absolute;
    width: 20vw; height: auto;
    z-index: 10;
    bottom: 70%; left: -10%;
    transform: rotate(-10deg);
}

/* CSS variables  ------------------------------------------------------------------*/
:root
{
    --bg: #181c24;
    --green: #92fe9d;
    --blue: #00c9ff;
}

/* General configurations  -----------------------------------------------*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scrollbar-width: none; /* Firefox 64 */
}
    body
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    background: var(--bg);
    font-size: 2vh;
}
section
{
    width: 81.25%;
}

p{
    font-size: 1em;
    font-family: 'Space Mono', monospace;
}

h1{
    font-size: 2.5em;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 700;
}

h2{
    font-size: 2em;
    font-family: 'Ubuntu Mono', monospace;
    font-weight: 400;
}

button
{
    
    background: none;
    color: white;
    font-family: 'Space Mono', monospace;
    cursor: pointer;
    transition: 0.5s;
    border: none;

    display: flex;
    align-items: center;
}

/* About section configurations  ---------------------------------------------------*/

#cover
{
    width: 100vw; height: 100vh;
    position: relative;
}
#particles-js
{
    position: relative;
    width: 100%;
    height: 100%;
}

#cover #presentation_btn
{
    position: absolute;

    border: 0.5vh solid rgba(128,128,128,.5);
    font-size: 1.5em;
    letter-spacing: 0.75vh;
    border-radius: 5vh;
    padding: 0.75vh 1.5vw;
    cursor: pointer;

    bottom: 10vh; left: 0;
    margin-left: 50%; 
    transform: translateX(-50%);
    transition: 0.5s;
}

#cover #presentation_btn:hover
{
    transform: scale(1.1) translateX(-50%);
    border: 0.5vh solid var(--green);
    color: var(--green);
    filter: drop-shadow(0 0 30px var(--green));

}

.flicker
{
    font-style: normal;
    transition: none;
    /*animation: 0.8s  step-end infinite appear;*/
}

@keyframes appear {
    from, to{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}

#cover .logo
{
    position: absolute;
    width: 40vw; height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brain_logo
{
animation: 10s ease-in-out glow infinite;

}

@keyframes glow {
0%{
    stroke: rgba(128,128,128,.5);
    filter: none;
}
25%{
    stroke: var(--green);
    filter: drop-shadow(0 0 5px var(--green));
}
50%{
    stroke: var(--blue);
    filter: drop-shadow(0 0 15px var(--blue));
}
75%{
    stroke: var(--green);
    filter: drop-shadow(0 0 5px var(--green));
}
100%{
    stroke: rgba(128,128,128,.5);
    filter: none;
}
}

/* About section configurations  ---------------------------------------------------*/

#about_sec
{
    height: fit-content;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.about_title
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;
    text-align: center;
    background-image: linear-gradient(to top, transparent, var(--bg) 30%);
    position: relative;
    top: -1px;
    z-index: 10;

}
.about_title h1
{
    max-width: 75%;
    margin: 2% 0%;
}
.about_title p
{
    max-width: 50%;
    padding-bottom: 2%;
    margin-bottom: 5vh;
}
.about_title p strong
{
    color: var(--green);
    font-weight: 300;
    text-shadow: 0 0 5px var(--green);
}

#about_sec .container
{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
    align-items: stretch;
}

#about_sec .about_card
{
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    min-width: 500px;
    background-color: rgba(255,255,255,.05);
    color: white;
    border-radius: 1vw;
    padding: 3vw 1vw;
    transition: 0.3s;
    margin-bottom: 5%;
}

#about_sec .about_card:hover
{
    background-color: rgba(255,255,255,0.03);
    transform: scale(1.1);
}

#about_sec .about_card::before
{
    position: absolute;
    top: 30%; left: 25%;
    content: '';
    width: 150%; height: 150%;
    background-color: rgba(0,0,0,0.15);
    rotate: 50deg;
    z-index: -1;
}

#about_sec .about_card .icon_box
{
    position: relative;
    width: 8vw; height: 8vw;
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#about_sec .about_card h2
{
    animation: 5s change_text_color infinite ease-in-out;
    text-align: center;
    z-index: 1;
}

@keyframes change_text_color {
    0%, 100%{
        color: var(--green);
        text-shadow: 0 0 10px var(--green);
    }
    50%{
        color: var(--blue);
        text-shadow: 0 0 10px var(--blue);
    }
}

#about_sec .about_card p
{
    margin-top: 1vw;
    text-align: center;
    margin-bottom: 2vh;
    z-index: 1;
}

.icon_box#face_scan img
{
    height: 100%; width: 100%;
    position: relative;
    display: block;
}

.icon_box#face_scan  .line
{
    background: var(--green);
    position: absolute;
    z-index: 100;
    width: 100%; height: .5vh;
    border-radius: .5vh;
    top: -10%;
    z-index: 2;
    animation: 5s ease-in-out infinite scanner_line;
    filter: drop-shadow(0 0 20px var(--green));
}

.icon_box#face_scan .active_face
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; width: 100%;
    fill: var(--green);
    stroke: var(--green);
    overflow: hidden;
    animation: 5s ease-in-out infinite active_face,
               5s ease-in-out infinite change_stroke;
}

.icon_box#face_scan  .active_face svg
{
    width: 100%; height: 8vw;
}

#chart_data svg{
    animation: 5s ease-in-out infinite change_stroke;
}

.icon_box#mic_nlp svg
{
    animation: 5s ease-in-out infinite change_stroke;
    height: 100%;
    width: auto;
    z-index: 1;
}

.icon_box#mic_nlp{
    overflow: hidden;
}

.icon_box#mic_nlp::before
{
    content: 'aaaaaaaaaaaaaaaaaaaa';
    color: transparent;
    z-index: -1;
    top: -15%;
    position: absolute;
    text-decoration-style: wavy;
    text-decoration-color: #00c9ff;
    text-decoration-line: underline;
    font-size: 3em;
    animation: 5s linear infinite wavy_line,
               5s ease-in-out infinite change_stroke;
}

@keyframes active_face {
    0%,100%{
        height: 0%;
        fill: var(--green);
    }
    50%{
        height: 100%;
        fill: var(--blue);
    }
}

@keyframes scanner_line {
    0%,100%{
        top: 0%;
        background: var(--green);
        filter: drop-shadow(0 0 20px var(--green));
    }
    50%{
        top: 105%;
        background: var(--blue);
        filter: drop-shadow(0 0 20px var(--blue));
    }
}

@keyframes change_stroke {
    0%,100%{
        stroke: var(--green);
        text-decoration-color: var(--green);
    }
    50%{
        stroke: var(--blue);
        text-decoration-color: var(--blue);
    }
}

@keyframes wavy_line {
    0%{
        transform: translateX(-5px);
    }
    100%{
        transform: translateX(3em);  
    }
}

#about_sec .about_card ul
{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    margin-top: 0.75vw;
}

#about_sec .about_card ul h3
{
    font-size: 1.5em;
    font-family: 'Ubuntu Mono', monospace;
    margin-bottom: 0.5vw;
}

#about_sec .about_card ul li
{
    width: 100%; height: fit-content;
    display: block;
    position: relative;
    color: white;
    font-size: 1em;
    font-family: 'Space Mono', monospace;
    flex-direction: row;
    text-align: left;
    margin-bottom: 1vw;
}

#about_sec .about_card ul li span
{
    display: block;
    position: absolute;
    left: -1vw;
    top: 50%;
    transform: translateY(-50%);
    width: 0.5vw; height: 0.5vw;
    border-radius: 0.25vw;
    background-color: #00c9ff;
}




/* Projects section configurations  -----------------------------------------------*/
#projects_sec
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.projects 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    width: 100%;
    list-style: none;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
   -webkit-overflow-scrolling: touch;
   scroll-behavior: smooth;
}
::-webkit-scrollbar
{
    display: none;
}

.project_card:nth-child(even)
{
    --color: var(--blue)
}
.project_card:nth-child(even):hover .icon
{
    filter: invert(63%) sepia(40%) saturate(4261%) hue-rotate(155deg) brightness(103%) contrast(104%);
}

.project_card:nth-child(odd)
{
    --color: var(--green)
}
.project_card:nth-child(odd):hover .icon
{
    filter: invert(91%) sepia(13%) saturate(1855%) hue-rotate(59deg) brightness(121%) contrast(99%);
}

.project_card:first-child
{
    margin-left: 4%;
}
.project_card:last-child
{
    margin-right: 4%;
}

.project_card
{
    width: 20%; height: 80%;
    position: relative;
    transition: 0.5s;
    display: block;
    margin: 0 2%;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
    filter: grayscale(1);
    flex-shrink: 0;
}
.project_card::before
{
    content: '';
    position: absolute;
    width: 150%; height: 100%;
    background: linear-gradient(0deg, transparent, var(--color), var(--color));
    top: -50%; left: -100%;
    transform-origin: bottom right;
    animation: rotate 6s linear infinite;
    animation-play-state: paused;
    z-index: 0;
}
.project_card::after
{
    content: '';
    position: absolute;
    width: 150%; height: 100%;
    background: linear-gradient(0deg, transparent, var(--color), var(--color));
    top: -50%; left: -100%;
    transform-origin: bottom right;
    animation: rotate 6s linear infinite;
    animation-delay: -3s;
    animation-play-state: paused;
    z-index: 0;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.project_card:hover
{
    transform: scale(1.1);
    cursor: pointer;
    filter: grayscale(0);
}
.project_card:hover::after,
.project_card:hover::before
{
    animation-play-state: running;
}

.project_card .content
{
    position: absolute;
    inset: 0.2vw;
    overflow: hidden;
    border-radius: 5px;
    z-index: 1;
}

.project_card .content .imgBox
{
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--bg);
}

.project_card .content .imgBox img
{
    position: relative;
    object-fit: cover;
    object-position: center center;
    width: 100%; height: 100%;
    transition: 0.5s;
}

.project_card .content .project_card_desc
{
    position: absolute;
    bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    width: 100%; height: 30%;
    background-color: rgba(0,0,0,0.5);
    color: var(--color);
    border-top: 2px solid var(--color);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.project_card .content .project_card_desc h2
{
    width: 90%;
    text-align: center;
    margin-bottom: 1vh;
    color: white;
    transition: 0.5s;
}
.project_card:hover .content .project_card_desc h2
{
    color: var(--color);
}

.icon{
    filter: invert(100%) sepia(6%) saturate(6693%) hue-rotate(247deg) brightness(118%) contrast(100%);
    object-fit: scale-down;
}

.project_card .content .icon
{
    width: 4vw; height: 4vw;
    margin-top: 1vh;
    transition: 0.5s;
}


#progressbar_path
{
    width: 50%;
    height: 1em;
    background-color: rgba(255,255,255,.04);
    border-radius: 1em;
    box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.3);
}
#progress_bar
{
    height: 100%;
    width: 50%;
    border-radius: 1em;
    background-color: red;
    box-shadow: 0 0 10px red;
    transition: 0.5s;
    border-top: 2px solid rgba(255, 255, 255, 0.3);
    animation: change_colors 10s ease-in-out infinite;
}

@keyframes change_colors{
    0%{
        background-color: var(--blue);
        box-shadow: 0 0 10px var(--blue);
    }
    50%{
        background-color: var(--green);
        box-shadow: 0 0 10px var(--green);
    }
    100%{
        background-color: var(--blue);
        box-shadow: 0 0 10px var(--blue);
    }
}

/* Projects popup configurations  -----------------------------------------------*/

#projects_popup
{
    width: 100vw; height: 100vh;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    backdrop-filter: blur(5px);
    z-index: 100;
    color: white;
    flex-direction: column;
    align-items: center;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    display: none;
}
#projects_popup.active
{
    display: flex;
}

#projects_popup::before
{
    content: '';
    position: absolute;
    width: 100%; height: 2.5vh;
    clip-path: url(#border_decoration);
    top: 5vh;
    background: linear-gradient(to right, var(--green), var(--blue), var(--green));
}
#projects_popup::after
{
    content: '';
    position: absolute;
    width: 100%; height: 2.5vh;
    clip-path: url(#border_decoration);
    bottom: 5vh;
    background: linear-gradient(to right, var(--green), var(--blue), var(--green));
    transform: rotate(180deg);
    z-index: 0;
}

@keyframes puff-in-center {
    0% {
      -webkit-transform: scale(2);
              transform: scale(2);
      -webkit-filter: blur(4px);
              filter: blur(4px);
      opacity: 0;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
}

#projects_popup .menu
{
    position: absolute;
    width: fit-content;
    max-width: 35vw;
    height: 7.5vh;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
 
}


#projects_popup .menu .menu_item
{
    list-style: none;
    width: 5vh; height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    animation: none;
    margin: 1.5vw;
    transition: 0.3s;
}

#projects_popup .menu .menu_item .icon
{
    width: 4vh; height: 4vh;
    opacity: 0.8;
    transition: 0.5s;
}

#projects_popup .menu .menu_item.active,
#projects_popup .menu .menu_item:hover
{
    transform: scale(1.2);
}

#projects_popup .menu .menu_item.active .icon
{
    width: 4vh; height: 4vh;
    opacity: 1;
    animation: 10s ease-in-out color_rotate infinite;
}

@keyframes color_rotate {
    from, to{
        filter: invert(63%) sepia(40%) saturate(4261%) hue-rotate(155deg) brightness(103%) contrast(104%) drop-shadow(0 3px 5px #00c9ff);
    }
    50%{
        filter: invert(91%) sepia(13%) saturate(1855%) hue-rotate(59deg) brightness(121%) contrast(99%) drop-shadow(0 3px 10px #92fe9d);
    }
}


#projects_popup .menu .menu_item:hover
{
    cursor: pointer;
}

#projects_popup .content
{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 80vh;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    align-items: center;
    justify-content: space-between;
}

#projects_popup .content.active
{
    display: flex;
}

#projects_popup .content article
{
    max-width: 50vw;
    height: 90%;
}

#projects_popup .content article h1,
#projects_popup .content article p
{
    margin-bottom: 3rem;
}

#projects_popup .content article div
{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 1vh 0;
}

#projects_popup .content article div img
{
    margin-right: 1.5vw;
    height: 5vh; width: auto;
}

#projects_popup .content article button
{
    border-radius: 300px;
    border: 0.2vw solid rgba(255,255,255, 0.3);
    padding: 7px 1vw;
    font-size: 1em;
    transition: 0.5s;
    margin-top: 3vh;
}

#projects_popup .content article button div
{
    background-color: white;
    margin-left: 0.75vw;
    width: 0.9vw; height: 0.9vw;
    clip-path: url(#rounded_arrow);
}

#projects_popup .content article button:hover
{
    border-color: var(--green);
    color: var(--green);
    transform: scale(1.05);
    box-shadow: 0 0 5px var(--green);
}

#projects_popup .content article button:hover div
{
    background-color: var(--green);
    animation: none;
}

#projects_popup .content aside
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 20vw;
    margin-right: 2.5vw;
    margin-left: 2.5vw;
    height: fit-content;
    max-height: 90%;
}

#projects_popup .content aside h1
{
    color: var(--green);
}

#projects_popup .content .media_content
{
    display: block;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    margin-top: 1.5vh;
}

#projects_popup .content .media_content img,
#projects_popup .content .media_content video
{
    position: relative;
    width: 75%; height: auto;
    margin: 1.5vh 50%;
    transform: translateX(-50%);
    opacity: 0.7;
    transition: 0.5s;
    z-index: 100;
}

#projects_popup .content .logo_side
{
    justify-content: center;
}
#projects_popup .content .logo_side .icon
{
    position: relative;
    width: 20vw;
    height: 20vw;
    filter: invert(63%) sepia(40%) saturate(4261%) hue-rotate(155deg) brightness(103%) contrast(104%);
    object-fit: scale-down;
}

/* Images display configurations  -----------------------------------------------*/

#images_display
{
    position: fixed;
    top: 0; left: 0;
    z-index: 1000;
    width: 100vw; height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.9);
    display: none;
}

#images_display.active
{
    display: flex;
}
@keyframes opacity_change {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

#images_display div
{
    position: relative;
    width: fit-content;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vw;
    animation: change_BorderColors 10s ease-in-out infinite,
               opacity_change 0.5s ease-in-out;
}

#image_displayed
{
    height: 100%; width: 100%;
    object-fit: scale-down;
}

/* Contact form configurations  -----------------------------------------------*/




        

